name: Renovate

on:
  schedule:
    - cron: "0 3 1 * *" # Ejecutar solo 1 vez al mes
  workflow_dispatch:       # Permite ejecutarlo manualmente

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Renovate
        uses: renovatebot/github-action@v44.0.3
        with:
          renovate-version: full
        env:
          RENOVATE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
