name: Renovate

on:
  schedule:
    - cron: "0 3 * * 1" # Lunes 3 AM
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Renovate
        uses: renovatebot/github-action@v40
        with:
          renovate-version: full
        env:
          RENOVATE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
